---
const {label, name, placeholder} = Astro.props;
---
<div class="w-full">
    <label for={name} class="block mb-2 text-left">{label}</label>
    <div class="flex items-center">
        <button type="button" id=`decrement-button-${name}`
                class="sm:p-4 p-3 bg-violet-300 hover:bg-violet-400 rounded-s-md transition-colors duration-200">
            <svg class="h-4 w-3 text-neutral-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                 fill="none" viewBox="0 0 18 2">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M1 1h16"/>
            </svg>
        </button>
        <input type="number" id={name} aria-describedby="helper-text-explanation"
               class="w-full p-2 bg-neutral-600 placeholder-neutral-400 text-center outline-none"
               placeholder={placeholder} required/>
        <button type="button" id=`increment-button-${name}`
                class="sm:p-4 p-3 bg-violet-300 hover:bg-violet-400 rounded-e-md transition-colors duration-200">
            <svg class="h-4 w-3 text-neutral-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                 fill="none" viewBox="0 0 18 18">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M9 1v16M1 9h16"/>
            </svg>
        </button>
    </div>
</div>

<script define:vars={{name}}>
    const input = document.getElementById(name);
    const decrementButton = document.getElementById(`decrement-button-${name}`);
    const incrementButton = document.getElementById(`increment-button-${name}`);
    let intervalId;

    function updateValue(operation) {
        if (input.value === "") {
            input.value = input.placeholder;
        } else {
            const currentValue = parseFloat(input.value, 10);
            input.value = operation === 'increment' ? currentValue + 1 : currentValue - 1;
        }

        const event = new Event('input');
        input.dispatchEvent(event);
    }


    function startUpdatingValue(operation) {
        updateValue(operation);
        intervalId = setInterval(() => updateValue(operation), 100);
    }

    function stopUpdatingValue() {
        if (intervalId) {
            clearInterval(intervalId);
        }
    }

    decrementButton.addEventListener('mousedown', () => startUpdatingValue('decrement'));
    decrementButton.addEventListener('mouseup', stopUpdatingValue);
    decrementButton.addEventListener('mouseleave', stopUpdatingValue);

    incrementButton.addEventListener('mousedown', () => startUpdatingValue('increment'));
    incrementButton.addEventListener('mouseup', stopUpdatingValue);
    incrementButton.addEventListener('mouseleave', stopUpdatingValue);

</script>

<style>
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

</style>

